<a href="https://colab.research.google.com/github/SimranAhuja00/LearnPython/blob/main/TuplesAndSets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Tuples** are similar to lists, but they are *immutable*. Tuples use a parenthesis- (1,2,3)

In [1]:
t = (1,2,3)

In [2]:
list = [1,2,3]

In [5]:
print('The type of t is ',type(t))

The type of t is  <class 'tuple'>

In [6]:
print('The type of t is ',type(list))

The type of t is  <class 'list'>

In [9]:
len(t)

3

In [12]:
t[0] #list functions, slicing indexing work with tuples too

1

In [13]:
t[-1]

3

In [14]:
t = ('a' , 'a' , 'b')

In [15]:
t.count('a') #to count the occurences of 'a' in t

2

In [18]:
t.index('a') #returns the index location of the first occurrence

0

Tuple generates an error if we try to mutate it

In [19]:
t[0] = 'Hey'

TypeError: ignored

**Sets** in python, unordered collection of *unique* elements.

In [20]:
myset = set()

In [21]:
myset

set()

In [24]:
myset.add(1) #add an item to the set

In [25]:
myset

{1}

In [26]:
myset.add(2)

In [27]:
myset

{1, 2}

In [30]:
myset.add(2) #only has unique values, doesn't add another '2'

In [31]:
myset

{1, 2}

In [32]:
mylist = [1,1,1,1,1,2,2,2,2,3,3,3,3,4,4,4]

In [33]:
set(mylist) #returns the unique values

{1, 2, 3, 4}

**Booleans** in python, convey *True* or False statments

In [34]:
False

False

In [35]:
type(False)

bool

In [36]:
1 > 2

False

In [37]:
1 == 1

True