# Functions in python

In [1]:
def add(a,b):
  '''hey this is a function to add''' #Docstring explains the function
  return a+b
x = add(4,5)
print(x)

9

In [2]:
def say_hello(name):
  print(f'Hello {name}!')

In [3]:
say_hello('Simran')

Hello Simran!

In [4]:
def add_num(num1,num2):
  return num1+num2

In [5]:
result = add_num(10,20)

In [6]:
result

30

In [7]:
result = add_num('10','20')
result

'1020'

Even-check function

In [8]:
def even_check(num):
  result = num % 2 == 0
  return result

In [9]:
even_check(20)

True

In [10]:
even_check(21)

False

# Tuple Unpacking

In [11]:
stock_prices = [('APPLE',200),("GOOGLE", 400), ("MICROSOFT",100)]

In [12]:
for item in stock_prices:
  print(item)

('APPLE', 200)
('GOOGLE', 400)
('MICROSOFT', 100)

In [13]:
for ticker,price in stock_prices:
  print(ticker)

APPLE
GOOGLE
MICROSOFT

In [14]:
for ticker,price in stock_prices:
  print(price + (0.1 * price))

220.0
440.0
110.0

In [15]:
work_hours = [('Abby', 100),('Sam', 200),('Terry',150)]

In [16]:
#Employee of the month
#one who worked the most number of hours
def emp_check(work_hours):
  curr_max = 0
  emp_of_the_month = ''
  for emp,hours in work_hours:
    if hours > curr_max:
      curr_max = hours
      emp_of_the_month = emp
    else:
      pass
  return (emp_of_the_month, curr_max)

In [17]:
emp_check(work_hours)

('Sam', 200)

different way to accept return values

In [18]:
name,hours = emp_check(work_hours)

In [21]:
print(f'The employee of the month is {name}!')
print(f'{name} worked {hours} hours this month')

The employee of the month is Sam!
Sam worked 200 hours this month