In [1]:
mystring = 'hello'

In [2]:
mylist = []

for letter in mystring:
  mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

Can use **List Comprehension** to do the same thing

In [4]:
mylist = [letter for letter in mystring]

In [5]:
mylist

['h', 'e', 'l', 'l', 'o']

In [6]:
list = [letter for letter in 'beautiful day']

In [7]:
list

['b', 'e', 'a', 'u', 't', 'i', 'f', 'u', 'l', ' ', 'd', 'a', 'y']

In [8]:
num = [n for n in range(0,11)]

In [9]:
num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
num = [n**2 for n in range(0,11)] #to display squares

In [11]:
num

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

We can add 'if statments' to this for loop too

In [12]:
num = [n for n in range(0,11) if n%2 == 0]

In [13]:
num

[0, 2, 4, 6, 8, 10]

In [14]:
num = [n for n in range(0,11) if n%2 != 0] #for odd numbers

In [15]:
num

[1, 3, 5, 7, 9]

In [17]:
#convert celcius to fahrenheit
celcius = [0,10,20,34.5]
farhenheit = [((9/5)*temp + 32) for temp in celcius]

In [18]:
farhenheit

[32.0, 50.0, 68.0, 94.1]

Add *'if-else'* statments

In [19]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [20]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

*Nested loops* in List Comprehension

In [21]:
mylist = []
for x in [2,4,6]:
  for y in [100,200,300]:
    mylist.append(x*y)

In [22]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [23]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]

In [24]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]