## Map and Filter Functions

In [1]:
def square(num):
  return num**2

In [2]:
my_nums = [1,2,3,4,5]

In [3]:
map(square,my_nums)

In [4]:
for item in map(square,my_nums):
  print(item)

1
4
9
16
25

In [5]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [6]:
def splicer(mystring):
  if len(mystring)%2 == 0:
    return 'EVEN'
  else:
    return mystring[0]

In [7]:
names = ['Hannah','Anne','Lily']

In [8]:
list(map(splicer,names))

['EVEN', 'EVEN', 'EVEN']

In [9]:
names.append('EVE')

In [10]:
list(map(splicer,names))

['EVEN', 'EVEN', 'EVEN', 'E']

In [11]:
def check_even(num):
  return num%2 == 0

In [12]:
mynums = [1,2,3,4,5,6]

In [13]:
list(filter(check_even,mynums))

[2, 4, 6]

In [14]:
for n in filter(check_even,mynums):
  print(n)

2
4
6

# Lambda Expressions
Typically for when an expression is to be used only once

In [15]:
square = lambda num: num ** 2

In [16]:
square(5)

25

In [17]:
nums = [1,2,3,4,5,6]
map(lambda num: num**2 , nums)

In [18]:
list(map(lambda num: num**2 , nums))

[1, 4, 9, 16, 25, 36]

In [19]:
list(filter(lambda num:num%2 == 0,nums))

[2, 4, 6]

In [20]:
my_list = ['Ted','Barney','Lily']

In [21]:
map(lambda name:name[0],my_list)

In [22]:
list(map(lambda name:name[0],my_list))

['T', 'B', 'L']

In [23]:
list

list

In [24]:
type(list)

type